html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, adress, time, span, em, strong, img, ol, ul, li, figure, canvas, video {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "Times New Roman", Times, Serif;
	font-size: 14px;
	line-height: 20px;
}
	
nav ul li{
	font-family: "Arial Narrow", sans-serif;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	padding-right: 25px;
	display: inline;
}
nav ul {
	position: relative;
	text-align: left;
	z-index: 15;
	top: -54px;
}
nav ul li:nth-child(1){
	padding-left: 125px;
}
nav ul li:nth-child(3){
	padding-right: 189px;
}

h1 {
	font-family: "Arial Narrow", sans-serif;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

h2 {
	font-family: "Arial Narrow", sans-serif;
	font-size: 18px;
	line-height: 26px;
	color: #cc3300;
}

h3 {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

h4 {
	font-family: "Arial Narrow", sans-serif;
	font-size: 26px;
	line-height: 28px;
	color: #cc3300;
	text-transform: uppercase;
}

p {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 26px;
}

footer{
	font-size: 12px;
	line-height: 16px;
	clear: both;
	padding-top: 60px;
	text-align: center;
}

.photo-border {
	border: 2px solid #000000;
}

.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.page1-grid {
	width: 260px;
}

.page2-grid {
	width: 273px;
}

.page1-gutter{
	margin-right: 40px;
}

.page2-gutter{
	margin-right: 20px;
}

.column{
	float: left;
}
.logo-position{
	position: relative;
	z-index:4;
	padding-top: 15px;
}
.banner-position{
	position: relative;
	z-index: 1;
	box-shadow: 4px 4px 4px 4px #333;
	top: -30px;
}
.center-images{
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.top-yel-box-p1{
	background-color:#ffcc33;
	width: 960px;
	height: 390px;
}
.top-yel-box-p2{
	background-color:#ffcc33;
	width: 960px;
	height: 100px;
}
.main-50 {
	margin-left: 50px;
	margin-right: 50px;
}
.padding-h1-p2{
padding-bottom: 50px;
padding-top: 50px;
}
.paragraph1{
	font-size: 16px;
	line-height: 26px;
}
.paragraph2{
	font-size: 14px;
	line-height: 20px;
}
